# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
übung4/mischen2
übung4/primes
übungen/übung4/primes
übungen/übung1/qgleichung
übungen/übung2/max
übungen/übung2/sort
übungen/übung2/werteTauschen
übungen/übung2/werteTauschen2
übungen/übung3/addFracts
übungen/übung3/addFracts2
übungen/übung3/kernbruch
übungen/übung3/ggt
übungen/übung4/mischen
übungen/übung4/mischen2
übungen/übung5/matrixDiagonale
übungen/übung5/matrixMultiplikation
übungen/übung5/strLänge
übungen/übung1/ablaufplan.pdf
project/kassenzettel
